@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);




.btn.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #111111;
  border-color: #111111;
}
.btn.btn-info {
  background-color: #27aae0;
  border-color: #27aae0;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info.focus,
.btn.btn-info:active,
.btn.btn-info.active {
  background-color: #177aa3;
  border-color: #177aa3;
}
.btn.btn-success {
  background-color: #29d9c2;
  border-color: #29d9c2;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success.focus,
.btn.btn-success:active,
.btn.btn-success.active {
  background-color: #1b9a8a;
  border-color: #1b9a8a;
}
.btn.btn-warning {
  background-color: #fd5b10;
  border-color: #fd5b10;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning.focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
  background-color: #bf3e02;
  border-color: #bf3e02;
}
.btn.btn-danger {
  background-color: #f97352;
  border-color: #f97352;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger.focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: #f63709;
  border-color: #f63709;
}
.text-primary {
  color: #ffffff !important;
}
.text-info {
  color: #27aae0 !important;
}
.text-success {
  color: #29d9c2 !important;
}
.text-warning {
  color: #fd5b10 !important;
}
.text-danger {
  color: #f97352 !important;
}
a {
  color: #ffffff;
}
a:hover,
a:focus,
a.focus,
a:active,
a.active {
  color: #d4d4d4;
}
.mbr-primary-color,
.s2-box:hover .s2-box-ico div,
.content8 .nav-tabs > li > a::after,
.extFooter1 ul li:before,
.mbr-gallery-filter li:hover,
.extFooter1 ul li a:hover {
  color: #ffffff !important;
}
.navbar-nav > li > a:hover,
.dropdown1-menu > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu a:hover,
.nav-tabs > li.active > a,
.content8 .nav-tabs > li.active > a {
  color: #ffffff !important;
}
.cta-wrap.bg-dark .cta-btn.btn-default:hover,
.cta-wrap .cta-btn.btn-default:hover,
.mbr-primary-bgColor,
.nav-tabs > li > a::after,
.services-s5 .service-content:hover i {
  background: #ffffff !important;
}
blockquote {
  border-left-color: #ffffff;
}
.process-step2 .btn-circle:hover,
.process-step2 .btn-info,
.mbr-slider .carousel-control:hover {
  background: #ffffff !important;
  border-color: #ffffff !important;
}
.services-s5 .service-content:hover i:after,
.cta-wrap.bg-dark .cta-btn:hover,
.cta-wrap.bg-primary .cta-btn:hover,
.nav-link.btn.btn-primary:hover {
  border-color: #ffffff;
}
.mbr-gallery-filter li.active {
  color: #ffffff;
  border-color: #ffffff;
}
.cta-wrap .cta-btn.btn-default:hover,
.cta-wrap.bg-dark .cta-btn.btn-default:hover {
  background: #ffffff;
  border-color: #ffffff;
}
.mbr-title-font,
.mbr-gallery-filter li {
  font-family: 'Montserrat', sans-serif !important;
}
.mbr-text-font,
p {
  font-family: 'Roboto Condensed', sans-serif !important;
}
#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header9-15 H3 {
  font-size: 36px;
  color: #301004;
}
#header9-15 B {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
#header9-15 P {
  font-size: 18px;
  color: #000000;
}
#header22-2o P {
  text-align: left;
  font-size: 15px;
}
#header22-2o H4 {
  text-align: center;
}
#header22-2o B {
  color: #ffc107;
  font-size: 16px;
}
#msg-box23-2s P {
  text-align: center;
  font-size: 16px;
}
#contacts4-11 H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-11 P {
  color: #111111;
  font-size: 14px;
}
#contacts4-11 H5 {
  color: #1c5774;
}
#contacts4-11 B {
  color: #336a86;
}
#social-buttons1-js .mbr-header__text {
  font-size: 20px;
}


#dropdown-menu1-jx .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-jx .navbar-brand a {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
#dropdown-menu1-jx .nav .link,
#dropdown-menu1-jx .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu1-jx .navbar,
#dropdown-menu1-jx .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-jx .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-jx .dropdown-menu a:hover,
#dropdown-menu1-jx .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-jx .navbar-toggler {
  color: #333;
}
#contacts4-jz H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-jz P {
  color: #111111;
  font-size: 14px;
}
#contacts4-jz H5 {
  color: #1c5774;
}
#contacts4-jz B {
  color: #336a86;
}
#social-buttons1-k0 .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-o3 SPAN {
  font-size: 60px;
}
#header8-o3 H3 {
  text-align: left;
}
#gallery3-pu SMALL {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#header20-sl P {
  color: #000000;
  font-size: 22px;
}
#contacts4-o0 H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-o0 P {
  color: #111111;
  font-size: 14px;
}
#contacts4-o0 H5 {
  color: #1c5774;
}
#contacts4-o0 B {
  color: #336a86;
}
#social-buttons1-o4 .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-oo SPAN {
  font-size: 60px;
}
#header8-oo H3 {
  text-align: left;
}
#gallery3-pq SMALL {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
#gallery3-pq B {
  color: #ffffff;
}
#header20-se P {
  color: #000000;
  font-size: 22px;
}
#contacts4-om H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-om P {
  color: #111111;
  font-size: 14px;
}
#contacts4-om H5 {
  color: #1c5774;
}
#contacts4-om B {
  color: #336a86;
}
#social-buttons1-op .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-ov SPAN {
  font-size: 60px;
}
#header8-ov H3 {
  text-align: left;
}
#gallery3-pt SMALL {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#header20-sc P {
  color: #000000;
  font-size: 22px;
}
#contacts4-os H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-os P {
  color: #111111;
  font-size: 14px;
}
#contacts4-os H5 {
  color: #1c5774;
}
#contacts4-os B {
  color: #336a86;
}
#social-buttons1-ou .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-p1 SPAN {
  font-size: 60px;
}
#header8-p1 H3 {
  text-align: left;
}
#gallery3-p2 SMALL {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#header20-sa P {
  color: #000000;
  font-size: 22px;
}
#contacts4-oy H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-oy P {
  color: #111111;
  font-size: 14px;
}
#contacts4-oy H5 {
  color: #1c5774;
}
#contacts4-oy B {
  color: #336a86;
}
#social-buttons1-p0 .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-re H3 {
  text-align: left;
}
#header20-rx P {
  color: #000000;
  font-size: 22px;
}
#contacts4-r8 H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-r8 P {
  color: #111111;
  font-size: 14px;
}
#contacts4-r8 H5 {
  color: #1c5774;
}
#contacts4-r8 B {
  color: #336a86;
}


#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#content7-z P {
  font-size: 13px;
  font-family: 'Lora', serif;
}
#contacts4-u H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-u P {
  color: #111111;
  font-size: 14px;
}
#contacts4-u H5 {
  color: #1c5774;
}
#contacts4-u B {
  color: #336a86;
}
#social-buttons1-jv .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header1-1l H2 {
  font-size: 30px;
}
#contacts4-1j H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-1j P {
  color: #111111;
  font-size: 14px;
}
#contacts4-1j H5 {
  color: #1c5774;
}
#contacts4-1j B {
  color: #336a86;
}
#social-buttons1-jj .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-ok SPAN {
  font-size: 60px;
}
#header8-ok H3 {
  text-align: left;
}
#gallery3-ps SMALL {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#header20-sb P {
  color: #000000;
  font-size: 22px;
}
#contacts4-og H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-og P {
  color: #111111;
  font-size: 14px;
}
#contacts4-og H5 {
  color: #1c5774;
}
#contacts4-og B {
  color: #336a86;
}
#social-buttons1-oi .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#gallery3-k6 SMALL {
  text-align: center;
  color: #ffffff;
}
#header20-sd P {
  color: #000000;
  font-size: 22px;
}
#contacts4-j0 H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-j0 P {
  color: #111111;
  font-size: 14px;
}
#contacts4-j0 H5 {
  color: #1c5774;
}
#contacts4-j0 B {
  color: #336a86;
}
#social-buttons1-jo .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-lp SPAN {
  font-size: 60px;
}
#header8-lp H3 {
  text-align: left;
}
#gallery3-ln SMALL {
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}
#header20-sf P {
  color: #000000;
  font-size: 22px;
}
#contacts4-ll H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-ll P {
  color: #111111;
  font-size: 14px;
}
#contacts4-ll H5 {
  color: #1c5774;
}
#contacts4-ll B {
  color: #336a86;
}
#social-buttons1-lo .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-pc SPAN {
  font-size: 60px;
}
#header8-pc H3 {
  text-align: left;
}
#gallery3-pb SMALL {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#header20-sg P {
  color: #000000;
  font-size: 22px;
}
#contacts4-p8 H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-p8 P {
  color: #111111;
  font-size: 14px;
}
#contacts4-p8 H5 {
  color: #1c5774;
}
#contacts4-p8 B {
  color: #336a86;
}
#social-buttons1-pa .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#gallery3-qr SMALL {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#header20-sh P {
  color: #000000;
  font-size: 22px;
}
#contacts4-ql H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-ql P {
  color: #111111;
  font-size: 14px;
}
#contacts4-ql H5 {
  color: #1c5774;
}
#contacts4-ql B {
  color: #336a86;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#gallery3-rm SMALL {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
#header20-si P {
  color: #000000;
  font-size: 22px;
}
#contacts4-rj H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-rj P {
  color: #111111;
  font-size: 14px;
}
#contacts4-rj H5 {
  color: #1c5774;
}
#contacts4-rj B {
  color: #336a86;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#gallery3-rr SMALL {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#header20-sj P {
  color: #000000;
  font-size: 22px;
}
#contacts4-ro H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-ro P {
  color: #111111;
  font-size: 14px;
}
#contacts4-ro H5 {
  color: #1c5774;
}
#contacts4-ro B {
  color: #336a86;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#gallery3-pv SMALL {
  text-align: center;
  color: #ffffff;
}
#gallery3-pv B {
  font-size: 15px;
}
#header20-sk P {
  color: #000000;
  font-size: 22px;
}
#contacts4-87 H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-87 P {
  color: #111111;
  font-size: 14px;
}
#contacts4-87 H5 {
  color: #1c5774;
}
#contacts4-87 B {
  color: #336a86;
}
#social-buttons1-jp .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-ni SPAN {
  font-size: 60px;
}
#header8-ni H3 {
  text-align: left;
}
#gallery3-nk SMALL {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
#header20-sm P {
  color: #000000;
  font-size: 22px;
}
#contacts4-ne H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-ne P {
  color: #111111;
  font-size: 14px;
}
#contacts4-ne H5 {
  color: #1c5774;
}
#contacts4-ne B {
  color: #336a86;
}
#social-buttons1-nh .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-oe SPAN {
  font-size: 60px;
}
#header8-oe H3 {
  text-align: left;
}
#gallery3-oc SMALL {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
#header20-sn P {
  color: #000000;
  font-size: 22px;
}
#contacts4-oa H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-oa P {
  color: #111111;
  font-size: 14px;
}
#contacts4-oa H5 {
  color: #1c5774;
}
#contacts4-oa B {
  color: #336a86;
}
#social-buttons1-od .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-mp SPAN {
  font-size: 60px;
}
#header8-mp H3 {
  text-align: left;
}
#gallery3-mo SMALL {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
#header20-so P {
  color: #000000;
  font-size: 22px;
}
#contacts4-ml H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-ml P {
  color: #111111;
  font-size: 14px;
}
#contacts4-ml H5 {
  color: #1c5774;
}
#contacts4-ml B {
  color: #336a86;
}
#social-buttons1-mq .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#gallery3-4p SMALL {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}
#header20-sq P {
  color: #000000;
  font-size: 22px;
}
#contacts4-87 H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-87 P {
  color: #111111;
  font-size: 14px;
}
#contacts4-87 H5 {
  color: #1c5774;
}
#contacts4-87 B {
  color: #336a86;
}
#social-buttons1-jn .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-m1 SPAN {
  font-size: 60px;
}
#header8-m1 H3 {
  text-align: left;
}
#gallery3-m0 SMALL {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}
#header20-ss P {
  color: #000000;
  font-size: 22px;
}
#contacts4-ly H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-ly P {
  color: #111111;
  font-size: 14px;
}
#contacts4-ly H5 {
  color: #1c5774;
}
#contacts4-ly B {
  color: #336a86;
}
#social-buttons1-m2 .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-lv SPAN {
  font-size: 60px;
}
#header8-lv H3 {
  text-align: left;
}
#gallery3-lu SMALL {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
#header20-st P {
  color: #000000;
  font-size: 22px;
}
#contacts4-ls H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-ls P {
  color: #111111;
  font-size: 14px;
}
#contacts4-ls H5 {
  color: #1c5774;
}
#contacts4-ls B {
  color: #336a86;
}
#social-buttons1-lw .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-kn SPAN {
  font-size: 60px;
}
#header8-kn H3 {
  text-align: left;
}
#gallery3-ub SMALL {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#header20-su P {
  color: #000000;
  font-size: 22px;
}
#contacts4-kk H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-kk P {
  color: #111111;
  font-size: 14px;
}
#contacts4-kk H5 {
  color: #1c5774;
}
#contacts4-kk B {
  color: #336a86;
}
#social-buttons1-ko .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-kd SPAN {
  font-size: 60px;
}
#header8-kd H3 {
  text-align: left;
}
#gallery3-kf SMALL {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#gallery3-kf B {
  font-size: 15px;
  color: #ffffff;
}
#header20-sv P {
  color: #000000;
  font-size: 22px;
}
#contacts4-kg H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-kg P {
  color: #111111;
  font-size: 14px;
}
#contacts4-kg H5 {
  color: #1c5774;
}
#contacts4-kg B {
  color: #336a86;
}
#social-buttons1-kh .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#gallery3-tg SMALL {
  text-align: center;
  color: #ffffff;
}
#header20-th P {
  color: #000000;
  font-size: 22px;
}
#contacts4-td H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-td P {
  color: #111111;
  font-size: 14px;
}
#contacts4-td H5 {
  color: #1c5774;
}
#contacts4-td B {
  color: #336a86;
}



#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header9-19 H3 {
  font-size: 46px;
}
#header9-19 P {
  text-align: left;
  color: #ffffff;
  font-size: 18px;
}
#slider-q1 P {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  text-align: left;
}
#slider-q1 H1 {
  font-size: 9px;
  text-align: left;
  font-family: 'Lato', sans-serif;
}
#slider-q1 I {
  color: #000000;
  font-size: 10px;
}
#slider-q1 SPAN {
  font-size: 12px;
}
#features4-pi H4 {
  font-size: 32px;
  color: #ffffff;
  text-align: center;
}
#features4-pi P {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
#features4-pi i {
  color: #ffffff !important;
}
#features4-pi I {
  font-size: 32px;
}
#features7-1z H1 {
  font-size: 20px;
}
#features7-j7 H1 {
  font-size: 20px;
}
#features7-j6 H1 {
  font-size: 20px;
}
#features7-ja H1 {
  font-size: 20px;
}
#features7-xx H1 {
  font-size: 20px;
}
#contacts4-j0 H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-j0 P {
  color: #111111;
  font-size: 14px;
}
#contacts4-j0 H5 {
  color: #1c5774;
}
#contacts4-j0 B {
  color: #336a86;
}
#social-buttons1-jc .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#header8-md SPAN {
  font-size: 60px;
}
#header8-md H3 {
  text-align: left;
}
#gallery3-mc SMALL {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}
#header20-sr P {
  color: #000000;
  font-size: 22px;
}
#contacts4-ma H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-ma P {
  color: #111111;
  font-size: 14px;
}
#contacts4-ma H5 {
  color: #1c5774;
}
#contacts4-ma B {
  color: #336a86;
}
#social-buttons1-me .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#gallery3-ur SMALL {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
#header20-us P {
  color: #000000;
  font-size: 22px;
}
#contacts4-ut H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-ut P {
  color: #111111;
  font-size: 14px;
}
#contacts4-ut H5 {
  color: #1c5774;
}
#contacts4-ut B {
  color: #336a86;
}
#social-buttons1-uu .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#gallery3-v8 SMALL {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
#header20-v9 P {
  color: #000000;
  font-size: 22px;
}
#contacts4-va H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-va P {
  color: #111111;
  font-size: 14px;
}
#contacts4-va H5 {
  color: #1c5774;
}
#contacts4-va B {
  color: #336a86;
}
#social-buttons1-vb .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vt .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vt .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vt .nav .link,
#dropdown-menu-vt .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vt .navbar,
#dropdown-menu-vt .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vt .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vt .dropdown-menu a:hover,
#dropdown-menu-vt .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vt .navbar-toggler {
  color: #ffffff;
}
#gallery3-vm SMALL {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
}
#header20-vn P {
  color: #000000;
  font-size: 22px;
}
#contacts4-vo H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-vo P {
  color: #111111;
  font-size: 14px;
}
#contacts4-vo H5 {
  color: #1c5774;
}
#contacts4-vo B {
  color: #336a86;
}
#social-buttons1-vp .mbr-header__text {
  font-size: 20px;
}

#dropdown-menu-vx .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-vx .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-vx .nav .link,
#dropdown-menu-vx .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-vx .navbar,
#dropdown-menu-vx .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-vx .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-vx .dropdown-menu a:hover,
#dropdown-menu-vx .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-vx .navbar-toggler {
  color: #ffffff;
}
#gallery3-vz SMALL {
  text-align: center;
  color: #ffffff;
}
#header20-w0 P {
  color: #000000;
  font-size: 22px;
}
#contacts4-w1 H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-w1 P {
  color: #111111;
  font-size: 14px;
}
#contacts4-w1 H5 {
  color: #1c5774;
}
#contacts4-w1 B {
  color: #336a86;
}

#dropdown-menu-w3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-w3 .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-w3 .nav .link,
#dropdown-menu-w3 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-w3 .navbar,
#dropdown-menu-w3 .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-w3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-w3 .dropdown-menu a:hover,
#dropdown-menu-w3 .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-w3 .navbar-toggler {
  color: #ffffff;
}
#gallery3-w5 SMALL {
  text-align: center;
  color: #ffffff;
}
#header20-w6 P {
  color: #000000;
  font-size: 22px;
}
#contacts4-w7 H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-w7 P {
  color: #111111;
  font-size: 14px;
}
#contacts4-w7 H5 {
  color: #1c5774;
}
#contacts4-w7 B {
  color: #336a86;
}

#dropdown-menu-wj .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-wj .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-wj .nav .link,
#dropdown-menu-wj .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-wj .navbar,
#dropdown-menu-wj .dropdown-menu {
  background: #fd5b10;
}
#dropdown-menu-wj .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-wj .dropdown-menu a:hover,
#dropdown-menu-wj .dropdown-menu a:focus {
  background: #f74f02;
}
#dropdown-menu-wj .navbar-toggler {
  color: #ffffff;
}
#header8-wk SPAN {
  font-size: 60px;
}
#header8-wk H3 {
  text-align: left;
}
#gallery3-wl SMALL {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
}
#header20-wm P {
  color: #000000;
  font-size: 22px;
}
#contacts4-wn H1 {
  font-size: 12px;
  color: #336a86;
}
#contacts4-wn P {
  color: #111111;
  font-size: 14px;
}
#contacts4-wn H5 {
  color: #1c5774;
}
#contacts4-wn B {
  color: #336a86;
}
#social-buttons1-wo .mbr-header__text {
  font-size: 20px;
}
